.remark-container {
  background-color: #222;
}

.remark-slide-scaler {
  box-shadow: none;
}

.remark-slide-content {
  background-color: #222;
}

.remark-slide-number {
  display: none;
}
/* 
font-family: 'Source Code Pro', monospace;
font-family: 'Source Sans Pro', sans-serif; 

*/
