@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:wght@400;600;900&display=swap');

/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1140,16,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

:root {
  --step--2: clamp(0.69rem, 0.72rem + -0.11vw, 0.64rem);
  --step--1: clamp(0.83rem, 0.85rem + -0.06vw, 0.8rem);
  --step-0: clamp(1rem, 1rem + 0vw, 1rem);
  --step-1: clamp(1.2rem, 1.18rem + 0.1vw, 1.25rem);
  --step-2: clamp(1.44rem, 1.39rem + 0.24vw, 1.56rem);
  --step-3: clamp(1.73rem, 1.64rem + 0.44vw, 1.95rem);
  --step-4: clamp(2.07rem, 1.93rem + 0.72vw, 2.44rem);
  --step-5: clamp(2.49rem, 2.27rem + 1.1vw, 3.05rem);
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #eef;
  font-size: var(--step-0);
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
}

h1 {
  font-size: var(--step-3);
  font-family: 'Abril Fatface', cursive;
}
h2 {
  font-size: var(--step-2);
}
h3 {
  font-size: var(--step-1);
}

.remark-container {
  background-color: #222;
}

.remark-slide-scaler {
  box-shadow: none;
}

.remark-slide-content {
  background-color: #222;
}

.remark-code,
.remark-inline-code {
  font-family: 'Source Code Pro', monospace;
}

/* 
font-family: 'Source Code Pro', monospace;
font-family: 'Source Sans Pro', sans-serif; 

*/
